ul {
    list-style-type: none;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
}

.card {
    padding-bottom: 0;
    border-radius: 0 !important;
    
    .card-header {
        margin-bottom: 0;
    }
    
    .card-body {
        padding-bottom: 0;
    }
}