.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    padding: 0;
    
    .card-body {
        padding: 0.5em 0.5em 0.5em 0.5em;
    }

    .card-header {
        padding-bottom: 0;
    }
}